<!DOCTYPE html>
<html>
<head>
  <title>eBay Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body style="background-color:#F6F6F6" ng-app="myCartApp" ng-controller="myCartController">
<nav class="navbar navbar-default" style="height:10px;background-color:white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=firstName%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">My collection</a></li>
            <li><a href="#">Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
        <li><a href="#">Daily Deals <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Help & Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MyeBay</a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">My collection</a></li>
            <li><a href="#">Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
        <li><a href="/ebayCart">Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--End of navbar-->

<!--start of search icon-->
<div class="row" style="margin-top:-10px">
  <div class="col-sm-3"><a href="/ebay"><img src="images/ebay.png"  width="175px" height="45px" style="float:right;margin-right: 5px" ></a></div>
    <div class="col-sm-5">
    <input type="text" class="form-control" placeholder="Search" style="width:100%;height:40px">
    </div>
    <button type="submit" class="btn btn-primary" style="height:40px">Search</button> <span style="margin-left:20px">Advanced</span>
  </div>
</div>
<!--End of search icon-->

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" >
      <h1 style="float:left;margin-left:35px">Your eBay Shopping Cart</h1>
    </div>
  </div>
<!--start of item field-->
<div class="row" style="margin-top:50px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="border-bottom: 1px solid grey;">
        <h3 style="float: left;margin-bottom: 40px">Your Cart</h3>
    </div>
    <div class="col-sm-5" style="border-bottom: 1px solid grey;">
       <a href = "#" ng-click="showCart()"><h3 style="float: right;margin-bottom: 40px" >click here to show your Cart</h3></a>
    </div>
    <div class="col-sm-6"></div>
</div>
<div class="col-sm-1"></div>
<div class="row" ng-show="myVar">
<div class="col-sm-7">
  <div ng-repeat="x in cart">
    <div class="col-sm-12">
        <div style="border:0.5px solid-grey">
          <div class="container" style="width: 100%; height: auto; ">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#eeeeee;text-align:left;height: auto;">Seller:{{x.sellerName}}</div>
              <div class="panel-body" style="background-color:#fcfcfc;text-align:left;height:150px;">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-6" style="text-align:left;">Product Name:{{x.productname}}  <br> Description:{{x.productDesc}} <br>
                  quantity : {{x.productBuyQuantity}}<br>
                  Cost:{{x.prd_price}}
                  <div style="float: right"><button class = "btn btn-warning" style = "float:right; margin-top: -20px" ng-click = "removeItemFromCart(x.productname,x.productBuyQuantity,x.prd_price)">Remove</button></div>
                  </div>
                </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="container" style="width: 100%;height:auto; ">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#ffffff " ng-model="totalPrice">Total Price:{{totalPrice}}<br>
          <div>{{err}}</div>
        </div>
        <div class="panel-body"><input type="button" class="btn btn-primary" ng-click="checkOut()" value="checkOut"><br></div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-1"></div>

</body>
</html>