<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Users in Database</h1>
    <div>

           		    <p><strong>EmailId: </strong><%= user.username %></p>

            		<br>

                    <form method="post" action="/logout">

                        <input type="submit" value="Logout" />

                    </form>

	</div>
  </body>
</html>